/*DAOUDA BA*/

/* Couleurs utilisées
#40676E
#71A596
#E3EECD
#408E61
#B0D2B7

lavender
grey
crimson
tomato
coral
lightcoral
*/


/*BODY*/
body{
	background-image: url('images/dkr.jpg');
	background-position: center center;
    background-repeat: no-repeat;
	background-size: cover;
	height: 600px;
	width: 80%;
	position: relative;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}



/*HEADER*/
header{
	position: fixed;
	z-index: 10;
	background-color: #71A596;
	border-bottom: 2px solid #E3EECD;
	height: 8%;
	width: 100%;
	left: 0;
	top: 0;
	margin: 0%;
}
.container{
	margin: auto;
}
.sen-k{
	top: -6%;
	font-size: 18px;
	position: absolute;
	left: 10.5%;
	color: #E3EECD;
	font-weight: 600;
	text-transform: uppercase;
}
.menu{
	padding: 0px;
	margin: 0px;
}
.menu .title1, .title2{
	display: inline-block;
	position: relative;
	left: 28.5%;
	top: 10%;
	padding: 10px 5px;
	transition: 0.5s;
}
.menu .title1, a{
	color: #E3EECD;
	text-decoration: none;
	font-weight: 700;
	font-size: 18px;
}
.menu .title1:hover{
	background-color: #B0D2B7;
}
.bt-fd{
	top: 5px;
	background: #f1f500;
	color: #40676E;
	border: 1px solid #40676E;
	border-radius: 5px;
	overflow: hidden;
	height: 30px;
	font-size: 15px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}
.bt-fd:hover{
	border: 1px solid #E3EECD;
	border-radius: 5px;
}



/*Image & texte de présentation*/
.prs{
	position: absolute;
	display: inline-block;
	top: 10%;
	left: 12%;
}
.sk{
	font-size: 45px;
	color: #E3EECD;
	font-weight: bold;
}
.ls{
	font-size: 16px;
	color: #E3EECD;
	font-weight: bold;
}
.dt{
	position: absolute;
	left: 10%;
	background: #f1f500;
	color: #40676E;
	font-size: 20px;
	border: 1px solid transparent;
	border-radius: 2px;
	height: 50px;
	width: 100px;
	cursor: pointer;
}
.dt:hover{
	border: 1px solid #71A596;
	color: #71A596;
}



/*Cartes de présentation*/
.blk1{
	position: absolute;
	display: inline-block;
	top: 92%;
	left: 12%;
}
.blk1{
	height: 150px;
	width: 300px;
	background: #f1f500;
	border: 1px solid #B0D2B7;
}
.ic1{
	position: absolute;
	display: inline-block;
	top: 95.5%;
	left: 15%;
}
#dollar{
	color: #40676E;
	font-size: 28px;
}
.trt1{
	position: absolute;
	display: inline-block;
	top: 93%;
	left: 18%;
	font-size: 18px;
	font-weight: bold;
	color: #40676E;
	font-family: 'Roboto', sans-serif;
}
.para1{
	position: absolute;
	display: inline-block;
	top: 100%;
	left: 15%;
	font-size: 12px;
	font-weight: bold;
	color: #40676E;
	font-family: 'Roboto', sans-serif;
}
.blk2{
	position: absolute;
	display: inline-block;
	top: 92%;
	left: 46%;
}
.ic2{
	position: absolute;
	display: inline-block;
	top: 95.5%;
	left: 49%;
}
#users{
	color: #40676E;
	font-size: 28px;
}
.trt2{
	position: absolute;
	display: inline-block;
	top: 93%;
	left: 54%;
	font-size: 18px;
	font-weight: bold;
	color: #40676E;
	font-family: 'Roboto', sans-serif;
}
.para2{
	position: absolute;
	display: inline-block;
	top: 100%;
	left: 49%;
	font-size: 12px;
	font-weight: bold;
	color: #40676E;
	font-family: 'Roboto', sans-serif;
}
.blk2{
	height: 150px;
	width: 300px;
	background: #f1f500;
	border: 1px solid #B0D2B7;
}
.blk3{
	position: absolute;
	display: inline-block;
	top: 92%;
	left: 80%;
}
.blk3{
	height: 150px;
	width: 300px;
	background: #f1f500;
	border: 1px solid #B0D2B7;
}
.ic3{
	position: absolute;
	display: inline-block;
	top: 95.5%;
	left: 84%;
}
#africa{
	color: #40676E;
	font-size: 28px;
}
.trt3{
	position: absolute;
	display: inline-block;
	top: 93%;
	left: 88%;
	font-size: 18px;
	font-weight: bold;
	color: #40676E;
	font-family: 'Roboto', sans-serif;
}
.para3{
	position: absolute;
	display: inline-block;
	top: 100%;
	right: -3.8%;
	font-size: 12px;
	font-weight: bold;
	color: #40676E;
	font-family: 'Roboto', sans-serif;
}



/*Nos domaines d'actions*/
.tl{
	position: absolute;
	display: block;
	top: 125%;
	left: 47.5%;
	font-size: 25px;
	font-weight: bold;
	color: #40676E;
	font-family: 'Roboto', sans-serif;
}
.line1{
	position: absolute;
	display: block;
	top: 135%;
	left: 56%;
	height: 3px;
	width: 100px;
	background: #f1f500;
}
.tlx{
	position: absolute;
	display: block;
	top: 135%;
	left: 30%;
	font-size: 14px;
	color: #40676E;
	font-family: 'Roboto', sans-serif;
}
.card1{
	position: absolute;
	display: inline-block;
	top: 143%;
	left: 12%;
	height: 400px;
	width: 300px;
	border: 1px solid #40676E;
	border-radius: 2px;
}
.pic1{
	position: absolute;
	display: inline-block;
	top: 143%;
	left: 12%;
	height: 200px;
	width: 302px;
	background-image: url('images/card.jpg');
	background-position: center center;
    background-repeat: no-repeat;
	background-size: cover;
}
.pb1{
	position: absolute;
	display: inline-block;
	top: 179%;
	left: 14.5%;
	color: #f1f500;
	width: 250px;
	height: 20px;
}
.tl-card1{
	position: absolute;
	display: inline-block;
	top: 182%;
	left: 14.5%;
	font-size: 12px;
	font-weight: bold;
	color: #40676E;
}
.ic-card1{
	position: absolute;
	display: inline-block;
	top: 187%;
	left: 14.5%;
}
.tx-card1{
	position: absolute;
	display: inline-block;
	top: 186.2%;
	left: 16.5%;
	font-size: 10px;
	color: grey;
}
.para-card1{
	position: absolute;
	display: inline-block;
	top: 189%;
	left: 14.5%;
	font-size: 13px;
	color: #40676E;
}
#tlx-card1{
	position: absolute;
	display: inline-block;
	top: 198%;
	left: 14.5%;
	font-size: 14px;
	color: #40676E;
}
#tlx-card1-2{
	position: absolute;
	display: inline-block;
	top: 198%;
	left: 35%;
	font-size: 14px;
	color: #40676E;
}
#nbr-card1{
	position: absolute;
	display: inline-block;
	top: 201%;
	left: 14.5%;
	font-size: 20px;
	font-weight: bold;
	color: #40676E;
}
#nbr-card1-2{
	position: absolute;
	display: inline-block;
	top: 201%;
	left: 33%;
	font-size: 20px;
	font-weight: bold;
	color: #40676E;
}
.card2{
	position: absolute;
	display: inline-block;
	top: 143%;
	left: 46%;
	height: 400px;
	width: 300px;
	border: 1px solid #40676E;
	border-radius: 2px;
}
.pic2{
	position: absolute;
	display: inline-block;
	top: 143%;
	left: 46%;
	height: 200px;
	width: 302px;
	background-image: url('images/card.jpg');
	background-position: center center;
    background-repeat: no-repeat;
	background-size: cover;
}
.pb2{
	position: absolute;
	display: inline-block;
	top: 179%;
	left: 48.5%;
	color: #f1f500;
	width: 250px;
	height: 20px;
}
.tl-card2{
	position: absolute;
	display: inline-block;
	top: 182%;
	left: 48.5%;
	font-size: 12px;
	font-weight: bold;
	color: #40676E;
}
.ic-card2{
	position: absolute;
	display: inline-block;
	top: 187%;
	left: 48.5%;
}
.tx-card2{
	position: absolute;
	display: inline-block;
	top: 186.2%;
	left: 50.5%;
	font-size: 10px;
	color: grey;
}
.para-card2{
	position: absolute;
	display: inline-block;
	top: 189%;
	left: 48.5%;
	font-size: 13px;
	color: #40676E;
}
#tlx-card2{
	position: absolute;
	display: inline-block;
	top: 198%;
	left: 48.5%;
	font-size: 14px;
	color: #40676E;
}
#tlx-card2-2{
	position: absolute;
	display: inline-block;
	top: 198%;
	left: 69%;
	font-size: 14px;
	color: #40676E;
}
#nbr-card2{
	position: absolute;
	display: inline-block;
	top: 201%;
	left: 48.5%;
	font-size: 20px;
	font-weight: bold;
	color: #40676E;
}
#nbr-card2-2{
	position: absolute;
	display: inline-block;
	top: 201%;
	left: 67%;
	font-size: 20px;
	font-weight: bold;
	color: #40676E;
}
.card3{
	position: absolute;
	display: inline-block;
	top: 143%;
	left: 80%;
	height: 400px;
	width: 300px;
	border: 1px solid #40676E;
	border-radius: 2px;
}
.pic3{
	position: absolute;
	display: inline-block;
	top: 143%;
	left: 80%;
	height: 200px;
	width: 302px;
	background-image: url('images/card.jpg');
	background-position: center center;
    background-repeat: no-repeat;
	background-size: cover;
}
.pb3{
	position: absolute;
	display: inline-block;
	top: 179%;
	left: 82.5%;
	color: #f1f500;
	width: 250px;
	height: 20px;
}
.tl-card3{
	position: absolute;
	display: inline-block;
	top: 182%;
	left: 82.5%;
	font-size: 12px;
	font-weight: bold;
	color: #40676E;
}
.ic-card3{
	position: absolute;
	display: inline-block;
	top: 187%;
	left: 82.5%;
}
.tx-card3{
	position: absolute;
	display: inline-block;
	top: 186.2%;
	left: 84.5%;
	font-size: 10px;
	color: grey;
}
.para-card3{
	position: absolute;
	display: inline-block;
	top: 189%;
	right: 0%;
	font-size: 13px;
	color: #40676E;
}
#tlx-card3{
	position: absolute;
	display: inline-block;
	top: 198%;
	left: 82.5%;
	font-size: 14px;
	color: #40676E;
}
#tlx-card3-2{
	position: absolute;
	display: inline-block;
	top: 198%;
	left: 103%;
	font-size: 14px;
	color: #40676E;
}
#nbr-card3{
	position: absolute;
	display: inline-block;
	top: 201%;
	left: 82.5%;
	font-size: 20px;
	font-weight: bold;
	color: #40676E;
}
#nbr-card3-2{
	position: absolute;
	display: inline-block;
	top: 201%;
	left: 101%;
	font-size: 20px;
	font-weight: bold;
	color: #40676E;
}
#calender{
	color: #40676E;
	font-size: 12px;
}



/*Dernières nouvelles*/
.tl1{
	position: absolute;
	display: inline-block;
	top: 215%;
	left: 50%;
	font-size: 25px;
	font-weight: bold;
	color: #40676E;
	font-family: 'Roboto', sans-serif;
}
.line2{
	position: absolute;
	display: inline-block;
	top: 225%;
	left: 56%;
	height: 3px;
	width: 100px;
	background: #f1f500;
}
.tlx2{
	position: absolute;
	display: inline-block;
	top: 225%;
	left: 30%;
	font-size: 14px;
	color: #40676E;
	font-family: 'Roboto', sans-serif;
}
.card4{
	position: absolute;
	display: inline-block;
	top: 232%;
	left: 12%;
	height: 370px;
	width: 300px;
	border: 1px solid #40676E;
	border-radius: 2px;
}
.news1{
	position: absolute;
	display: inline-block;
	top: 232%;
	left: 12%;
	height: 285px;
	width: 302px;
	background-image: url('images/news1.jpg');
	background-position: center center;
    background-repeat: no-repeat;
	background-size: cover;
}
.tl-card4{
	position: absolute;
	display: inline-block;
	top: 279%;
	left: 13.5%;
	font-size: 16px;
	font-weight: bold;
	color: #40676E;
	font-family: 'Roboto', sans-serif;
}
.tx-card4{
	position: absolute;
	display: inline-block;
	top: 284%;
	left: 13.5%;
	font-size: 12px;
	color: #40676E;
	font-family: 'Roboto', sans-serif;
}
.card5{
	position: absolute;
	display: inline-block;
	top: 232%;
	left: 46%;
	height: 220px;
	width: 300px;
	border: 1px solid #40676E;
	border-radius: 2px;
}
.news2{
	position: absolute;
	display: inline-block;
	top: 232%;
	left: 46%;
	height: 132px;
	width: 302px;
	background-image: url('images/news2.jpg');
	background-position: center center;
    background-repeat: no-repeat;
	background-size: cover;
}
.tl-card5{
	position: absolute;
	display: inline-block;
	top: 254%;
	left: 47.5%;
	font-size: 16px;
	font-weight: bold;
	color: #40676E;
	font-family: 'Roboto', sans-serif;
}
.tx-card5{
	position: absolute;
	display: inline-block;
	top: 259%;
	left: 47.5%;
	font-size: 12px;
	color: #40676E;
	font-family: 'Roboto', sans-serif;
}
.card6{
	position: absolute;
	display: inline-block;
	top: 232%;
	left: 80%;
	height: 130px;
	width: 300px;
	border: 1px solid #40676E;
	border-radius: 2px;
}
.news4{
	position: absolute;
	display: inline-block;
	top: 232%;
	left: 80%;
	height: 132px;
	width: 302px;
	background-image: url('images/news4.jpg');
	background-position: center center;
    background-repeat: no-repeat;
	background-size: cover;
}
.card7{
	position: absolute;
	display: inline-block;
	top: 296.5%;
	left: 12%;
	height: 70px;
	width: 300px;
	border: 1px solid #40676E;
	border-radius: 2px;
}
.tx-card7{
	position: absolute;
	display: inline-block;
	top: 296.5%;
	left: 13.5%;
	font-size: 12px;
	color: #40676E;
	font-family: 'Roboto', sans-serif;
}
.sub-card7{
	position: absolute;
	display: inline-block;
	top: 302.5%;
	left: 13.5%;
	font-size: 11px;
	color: grey;
	font-family: 'Roboto', sans-serif;
}
.card8{
	position: absolute;
	display: inline-block;
	top: 271.5%;
	left: 46%;
	height: 70px;
	width: 300px;
	border: 1px solid #40676E;
	border-radius: 2px;
}
.tx-card8{
	position: absolute;
	display: inline-block;
	top: 272%;
	left: 47.5%;
	font-size: 12px;
	color: #40676E;
	font-family: 'Roboto', sans-serif;
}
.sub-card8{
	position: absolute;
	display: inline-block;
	top: 278%;
	left: 47.5%;
	font-size: 11px;
	color: grey;
	font-family: 'Roboto', sans-serif;
}
.card9{
	position: absolute;
	display: inline-block;
	top: 286%;
	left: 46%;
	height: 220px;
	width: 300px;
	border: 1px solid #40676E;
	border-radius: 2px;
}
.tl-card9{
	position: absolute;
	display: inline-block;
	top: 307.5%;
	left: 56%;
	font-size: 16px;
	font-weight: bold;
	color: #40676E;
	font-family: 'Roboto', sans-serif;
}
.tx-card9{
	position: absolute;
	display: inline-block;
	top: 312.5%;
	left: 47.5%;
	font-size: 12px;
	color: #40676E;
	font-family: 'Roboto', sans-serif;
}
.news3{
	position: absolute;
	display: inline-block;
	top: 286%;
	left: 46%;
	height: 130px;
	width: 302px;
	background-image: url('images/news3.jpg');
	background-position: center center;
    background-repeat: no-repeat;
	background-size: cover;
}
.card10{
	position: absolute;
	display: inline-block;
	top: 256.5%;
	left: 80%;
	height: 70px;
	width: 300px;
	border: 1px solid #40676E;
	border-radius: 2px;
}
.tx-card10{
	position: absolute;
	display: inline-block;
	top: 256.5%;
	right: -6%;
	font-size: 12px;
	color: #40676E;
	font-family: 'Roboto', sans-serif;
}
.sub-card10{
	position: absolute;
	display: inline-block;
	top: 262.5%;
	right: 3.5%;
	font-size: 11px;
	color: grey;
	font-family: 'Roboto', sans-serif;
}
.card11{
	position: absolute;
	display: inline-block;
	top: 271%;
	left: 80%;
	height: 250px;
	width: 300px;
	border: 1px solid #40676E;
	border-radius: 2px;
}
.news5{
	position: absolute;
	display: inline-block;
	top: 271%;
	left: 80%;
	height: 130px;
	width: 302px;
	background-image: url('images/news5.jpg');
	background-position: center center;
    background-repeat: no-repeat;
	background-size: cover;
}
.tl-card11{
	position: absolute;
	display: inline-block;
	top: 293.5%;
	right: 12.5%;
	font-size: 16px;
	font-weight: bold;
	color: #40676E;
	font-family: 'Roboto', sans-serif;
}
.tx-card11{
	position: absolute;
	display: inline-block;
	top: 300%;
	right: -5.5%;
	font-size: 12px;
	color: #40676E;
	font-family: 'Roboto', sans-serif;
}



/*Derniers donateurs*/
.tl2{
	position: absolute;
	display: inline-block;
	top: 330%;
	left: 49%;
	font-size: 25px;
	font-weight: bold;
	color: #40676E;
	font-family: 'Roboto', sans-serif;
}
.line3{
	position: absolute;
	display: inline-block;
	top: 340%;
	left: 55%;
	height: 3px;
	width: 100px;
	background: #f1f500;
}
.tlx3{
	position: absolute;
	display: inline-block;
	top: 340%;
	left: 30%;
	font-size: 14px;
	color: #40676E;
	font-family: 'Roboto', sans-serif;
}
.pro1{
	position: absolute;
	display: inline-block;
	top: 355%;
	left: 18%;
	height: 180px;
	width: 180px;
	border: 1px solid #40676E;
	background-image: url('images/pro1.jpg');
	background-position: center center;
    background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
}
.name1{
	position: absolute;
	display: inline-block;
	top: 385%;
	left: 22.5%;
	font-size: 20px;
	font-weight: bold;
	color: #40676E;
	font-family: 'Roboto', sans-serif;
}
.icf-pro1{
	position: absolute;
	display: inline-block;
	top: 396%;
	left: 20%;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: #f1f500;
	opacity: 0.8;
	cursor: pointer;
}
.icf-pro1:hover{
	background-color: #e6f702;
	opacity: 0.4;
}
.icl-pro1{
	position: absolute;
	display: inline-block;
	top: 396%;
	left: 23.5%;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: #f1f500;
	opacity: 0.8;
	cursor: pointer;
}
.icl-pro1:hover{
	background-color: #e6f702;
	opacity: 0.4;
}
.ict-pro1{
	position: absolute;
	display: inline-block;
	top: 396%;
	left: 27%;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: #f1f500;
	opacity: 0.8;
	cursor: pointer;
}
.ict-pro1:hover{
	background-color: #e6f702;
	opacity: 0.4;
}
.icp-pro1{
	position: absolute;
	display: inline-block;
	top: 396%;
	left: 30.5%;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: #f1f500;
	opacity: 0.8;
	cursor: pointer;
}
.icp-pro1:hover{
	background-color: #e6f702;
	opacity: 0.4;
}
.pro2{
	position: absolute;
	display: inline-block;
	top: 355%;
	left: 52%;
	height: 180px;
	width: 180px;
	border: 1px solid #40676E;
	background-image: url('images/pro2.jpg');
	background-position: center center;
    background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
}
.name2{
	position: absolute;
	display: inline-block;
	top: 385%;
	left: 56.5%;
	font-size: 20px;
	font-weight: bold;
	color: #40676E;
	font-family: 'Roboto', sans-serif;
}
.icf-pro2{
	position: absolute;
	display: inline-block;
	top: 396%;
	left: 54%;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: #f1f500;
	opacity: 0.8;
	cursor: pointer;
}
.icf-pro2:hover{
	background-color: #e6f702;
	opacity: 0.4;
}
.icl-pro2{
	position: absolute;
	display: inline-block;
	top: 396%;
	left: 57.5%;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: #f1f500;
	opacity: 0.8;
	cursor: pointer;
}
.icl-pro2:hover{
	background-color: #e6f702;
	opacity: 0.4;
}
.ict-pro2{
	position: absolute;
	display: inline-block;
	top: 396%;
	left: 61%;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: #f1f500;
	opacity: 0.8;
	cursor: pointer;
}
.ict-pro2:hover{
	background-color: #e6f702;
	opacity: 0.4;
}
.icp-pro2{
	position: absolute;
	display: inline-block;
	top: 396%;
	left: 64.5%;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: #f1f500;
	opacity: 0.8;
	cursor: pointer;
}
.icp-pro2:hover{
	background-color: #e6f702;
	opacity: 0.4;
}
.pro3{
	position: absolute;
	display: inline-block;
	top: 355%;
	left: 86%;
	height: 180px;
	width: 180px;
	border: 1px solid #40676E;
	background-image: url('images/pro3.jpg');
	background-position: center center;
    background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
}
.name3{
	position: absolute;
	display: inline-block;
	top: 385%;
	left: 90.5%;
	font-size: 20px;
	font-weight: bold;
	color: #40676E;
	font-family: 'Roboto', sans-serif;
}
.icf-pro3{
	position: absolute;
	display: inline-block;
	top: 396%;
	left: 88%;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: #f1f500;
	opacity: 0.8;
	cursor: pointer;
}
.icf-pro3:hover{
	background-color: #e6f702;
	opacity: 0.4;
}
.icl-pro3{
	position: absolute;
	display: inline-block;
	top: 396%;
	left: 91.5%;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: #f1f500;
	opacity: 0.8;
	cursor: pointer;
}
.icl-pro3:hover{
	background-color: #e6f702;
	opacity: 0.4;
}
.ict-pro3{
	position: absolute;
	display: inline-block;
	top: 396%;
	left: 95%;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: #f1f500;
	opacity: 0.8;
	cursor: pointer;
}
.ict-pro3:hover{
	background-color: #e6f702;
	opacity: 0.4;
}
.icp-pro3{
	position: absolute;
	display: inline-block;
	top: 396%;
	left: 98.5%;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background-color: #f1f500;
	opacity: 0.8;
	cursor: pointer;
}
.icp-pro3:hover{
	background-color: #e6f702;
	opacity: 0.4;
}
#face{
	position: relative;
	color: #40676E;
	font-size: 16px;
	left: 35%;
	top: 23%;
}
#twit{
	position: relative;
	color: #40676E;
	font-size: 16px;
	left: 29%;
	top: 23%;
}
#link{
	position: relative;
	color: #40676E;
	font-size: 16px;
	left: 30%;
	top: 23%;
}
#pint{
	position: relative;
	color: #40676E;
	font-size: 16px;
	left: 25%;
	top: 22%;
}



/*Conact*/
.tl3{
	position: absolute;
	display: inline-block;
	top: 420%;
	left: 56.5%;
	font-size: 25px;
	font-weight: bold;
	color: #40676E;
	font-family: 'Roboto', sans-serif;
}
.tlx4{
	position: absolute;
	display: inline-block;
	top: 430%;
	left: 30%;
	font-size: 14px;
	color: #40676E;
	font-family: 'Roboto', sans-serif;
}
.i-ic1{
	position: absolute;
	display: inline-block;
	top: 445%;
	left: 16.5%;
	border: grey 1px solid;
	width: 40px;
	height: 35px;
	background-color: lavender;
}
#user{
	position: relative;
	top: 25%;
	left: 28%;
	font-size: 18px;
	color: #40676E;
}
.fm1{
	position: absolute;
	display: inline-block;
	top: 445%;
	left: 20%;
}
.i-fm1{
	height: 15px;
	width: 400px;
	padding: 10px;
	font-size: 15px;
	color: #40676E;
	font-family: 'Roboto', sans-serif;
	border: grey solid 1px;
}
.i-ic2{
	position: absolute;
	display: inline-block;
	top: 455%;
	left: 16.5%;
	border: grey 1px solid;
	width: 40px;
	height: 33px;
	background-color: lavender;
}
#envelope{
	position: relative;
	top: 25%;
	left: 28%;
	font-size: 18px;
	color: #40676E;
}
.fm2{
	position: absolute;
	display: inline-block;
	top: 455%;
	left: 20%;
}
.i-fm2{
	height: 13.2px;
	width: 400px;
	padding: 10px;
	font-size: 15px;
	color: #40676E;
	font-family: 'Roboto', sans-serif;
	border: grey solid 1px;
}
.i-ic3{
	position: absolute;
	display: inline-block;
	top: 465%;
	left: 16.5%;
	border: grey 1px solid;
	width: 40px;
	height: 35px;
	background-color: lavender;
}
#call{
	position: relative;
	top: 25%;
	left: 27%;
	font-size: 18px;
	color: #40676E;
}
.fm3{
	position: absolute;
	display: inline-block;
	top: 465%;
	left: 20%;
}
.i-fm3{
	height: 15px;
	width: 400px;
	padding: 10px;
	font-size: 15px;
	color: #40676E;
	font-family: 'Roboto', sans-serif;
	border: grey solid 1px;
}
.fm4{
	position: absolute;
	display: inline-block;
	top: 445%;
	left: 61%;
}
.t-fm4{
	height: 78px;
	width: 460px;
	padding: 10px;
	border: grey solid 1px;
}
.fm5{
	position: absolute;
	display: inline-block;
	top: 465%;
	left: 61%;
}
.b-fm5{
	height: 38px;
	width: 482px;
	background-color: lightcoral;
	border: 1px solid transparent;
	color: #E3EECD;
	font-size: 15px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}
.b-fm5:hover{
	font-family: 'Roboto', sans-serif;
	background-color: coral;
}



/*FOOTER*/
.my-foot{
	top: 485%;
	position: absolute;
	display: inline-block;
	background-color: #40676E;
	height: 35%;
	width: 160%;
	color: #E3EECD;
	left: 0%;
	margin-left: -10%;
}
.ic-foot1{
	top: 494%;
	left: 16.5%;
	position: absolute;
	display: inline-block;
	width: 25px;
	height: 25px;
}
.ic-foot2{
	top: 498%;
	left: 16.5%;
	position: absolute;
	display: inline-block;
	width: 25px;
	height: 25px;
}
.ic-foot3{
	top: 502%;
	left: 16.5%;
	position: absolute;
	display: inline-block;
	width: 25px;
	height: 25px;
}
.ic-foot4{
	top: 506%;
	left: 16.5%;
	position: absolute;
	display: inline-block;
	width: 25px;
	height: 25px;
}
#ico-f{
	position: relative;
	color: lavender;
	font-size: 13px;
}
.p-foot1{
	top: 492.5%;
	left: 18.5%;
	position: absolute;
	display: inline-block;
	color: lavender;
	font-size: 13px;
}
.p-foot2{
	top: 496.2%;
	left: 18.5%;
	position: absolute;
	display: inline-block;
	color: lavender;
	font-size: 13px;
}
.p-foot3{
	top: 500.2%;
	left: 18.5%;
	position: absolute;
	display: inline-block;
	color: lavender;
	font-size: 13px;
}
.p-foot4{
	top: 504.2%;
	left: 18.5%;
	position: absolute;
	display: inline-block;
	color: lavender;
	font-size: 13px;
}
.pp-foot1{
	top: 492.5%;
	left: 50%;
	position: absolute;
	display: inline-block;
	color: lavender;
	font-size: 13px;
}
.pp-foot2{
	top: 496.2%;
	left: 50%;
	position: absolute;
	display: inline-block;
	color: lavender;
	font-size: 13px;
}
.pp-foot3{
	top: 500.2%;
	left: 50%;
	position: absolute;
	display: inline-block;
	color: lavender;
	font-size: 13px;
}
.last-ico1{
	top: 494%;
	left: 80%;
	position: absolute;
	display: inline-block;
	border: 2px solid lavender;
	height: 26px;
	width: 26px;
}
.last-ico2{
	top: 494%;
	left: 83.5%;
	position: absolute;
	display: inline-block;
	border: 2px solid lavender;
	height: 26px;
	width: 26px;
}
.last-ico3{
	top: 494%;
	left: 87%;
	position: absolute;
	display: inline-block;
	border: 2px solid lavender;
	height: 26px;
	width: 26px;
}
.last-ico4{
	top: 494%;
	left: 90.5%;
	position: absolute;
	display: inline-block;
	border: 2px solid lavender;
	height: 26px;
	width: 26px;
}
.last-ico5{
	top: 494%;
	left: 94%;
	position: absolute;
	display: inline-block;
	border: 2px solid lavender;
	height: 26px;
	width: 26px;
}
.last-ico6{
	top: 494%;
	left: 97.5%;
	position: absolute;
	display: inline-block;
	border: 2px solid lavender;
	height: 26px;
	width: 26px;
}
.last-fm1{
	position: absolute;
	display: inline-block;
	top: 501%;
	left: 80%;
}
.last-tfm{
	height: 20px;
	width: 135px;
	padding: 10px;
	border: grey solid 1px;
	font-size: 13px;
	border: 1px solid transparent;
	background-color: lavender;
}
.last-fm2{
	position: absolute;
	display: inline-block;
	top: 501%;
	left: 95%;
}
.last-bfm{
	height: 42px;
	width: 95px;
	background-color: #e6f702;
	color: #40676E;
	border: 1px solid transparent;
	font-size: 12px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
	outline: none;
	border-radius: 5px;
}
.last-bfm:hover{
	font-family: 'Roboto', sans-serif;
	background-color: tomato;
	color: #E3EECD;
	cursor: pointer;
	outline: none;
}
#l-r{
	position: relative;
	color: lavender;
	font-size: 16px;
	top: 10%;
	left: 20%;
}
#l-rs{
	position: relative;
	color: lavender;
	font-size: 16px;
	top: 10%;
	left: 30%;
}
